version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: edupath-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports: ["5432:5432"]
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - pgdata:/var/lib/postgresql/data

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.14.1
    container_name: edupath-mlflow
    command: mlflow server --host 0.0.0.0 --port 5000 --backend-store-uri sqlite:///mlruns.db --default-artifact-root /mlartifacts
    ports: ["${MLFLOW_PORT}:5000"]
    volumes:
      - ./docker/mlflow:/mlartifacts

  minio:
    image: minio/minio:latest
    container_name: edupath-minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    ports: ["9000:9000","9001:9001"]
    volumes: [ "minio:/data" ]

  airflow:
    image: apache/airflow:2.10.2
    container_name: edupath-airflow
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
      _PIP_ADDITIONAL_REQUIREMENTS: "psycopg2-binary pandas"
    user: "${AIRFLOW_UID}:${AIRFLOW_GID}"
    depends_on: [ postgres ]
    ports: ["8080:8080"]
    command: >
      bash -c "airflow db init &&
               airflow users create --username admin --password admin --firstname a --lastname b --role Admin --email a@b.c || true &&
               airflow webserver & airflow scheduler"
    volumes:
      - ./services/prepa-data/dags:/opt/airflow/dags

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: edupath-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
    ports: ["8081:8080"]

volumes:
  pgdata:
  minio:
